pipeline/DailyHisIncEntityPipeline_New.json
{
	"name": "DailyHisIncEntityPipeline_New",
	"properties": {
		"activities": [
			{
				"name": "Get Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT *\nFROM ETL.KaizalaHisPipelineTable\nWHERE Enabled = 1\nORDER BY ExecutionSequence",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Default"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Entity Create List to Process",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Config').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Create List of GUID for data Process",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().KaizalaExtractionSPName",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"TriggerDatetime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ForEach Entity Create Json",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach Entity Create List to Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Config').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Create Json data using Historical List",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().kaizalaHistoricalSPName",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"TriggerDatetime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Execute Customer Process",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach Entity Create Json",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CustomerIncHistoricExtractionAllData_Daily",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Customer from Blob to Cosmos",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Customer Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "CustomerHistoricExtraction_To_CosmosDBNew",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Enquiry Process",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Customer from Blob to Cosmos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "EnquiryIncHistoricExtraction_AllData",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Enquiry  from Blob to Cosmos",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Enquiry Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "EnquiryHistoricExtraction_To_CosmosDB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute FollowupProcess",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Enquiry  from Blob to Cosmos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FollowupHistoricExtraction_AllData",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Followup from Blob to Cosmos",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute FollowupProcess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FollowUpHistoricExtraction_To_CosmosDB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Increase RU pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach Entity Create Json",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "IncreaseRUforCosmosDB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Decrease Ru pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Adv track followup copy to cosmos db",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DecreaseRUforCosmosDB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Adv TrackFollowUp Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Followup from Blob to Cosmos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AdvTrackFollowp_Copy_to_Blob",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ExtractionTableName": "Kaizala.AdvanceTrackingIncrementalHisExtraction",
						"offset": "0",
						"fetch": "5000"
					}
				}
			},
			{
				"name": "Execute Adv track followup copy to cosmos db",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Adv TrackFollowUp Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AdvanceTrackingFollowupHistoricExtraction_To_CosmosDB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "5. Kaizala Historic Data"
		},
		"annotations": []
	}
}