pipeline/DWLoad_InitialLoad.json
{
	"name": "DWLoad_InitialLoad",
	"properties": {
		"activities": [
			{
				"name": "Fetch Load Procedures",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM ETL.DWPipelineTables WHERE IsActive = 1",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Default"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Level 1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Fetch Load Procedures",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Load Procedures').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().ExecutionLevel,1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Fact Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Level 3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Level 3').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Execute Fact Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().ProcedureName",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerDatetime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Level 2",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Dimension Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Load Procedures').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().ExecutionLevel,2)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Dimension Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Level 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Level 1').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Execute Dim Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().ProcedureName",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update Last executed Date",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Execute Dim Procedure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETL].[usp_UpdateLastexecDWDate]",
								"storedProcedureParameters": {
									"LastExecDateUpdatedValue": {
										"value": {
											"value": "@formatDateTime(utcnow(),'yyyyMMdd hh:mm:ss')",
											"type": "Expression"
										}
									},
									"id": {
										"value": {
											"value": "@{item().id}",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Level 3",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Dimension Child Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Load Procedures').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().ExecutionLevel,3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Dimension Child Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Level 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Level 2').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Execute Dim Child Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().ProcedureName",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "2. Initial_Load"
		},
		"annotations": []
	}
}