pipeline/DWLoad.json
{
	"name": "DWLoad",
	"properties": {
		"activities": [
			{
				"name": "Fetch Load Procedures",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM ETL.DWPipelineTables WHERE IsActive = 1",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Default"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Level 1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Fetch Load Procedures",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Load Procedures').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().ExecutionLevel,1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Fact Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Level 4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Level 4').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Execute Fact Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().ProcedureName",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"PipelineRunId": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerDatetime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update Last executed level 4",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Execute Fact Procedure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETL].[usp_UpdateLastexecDWDate]",
								"storedProcedureParameters": {
									"LastExecDateUpdatedValue": {
										"value": {
											"value": "@formatDateTime(utcnow(),'yyyyMMdd hh:mm:ss')",
											"type": "Expression"
										}
									},
									"id": {
										"value": {
											"value": "@{item().id}",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Level 2",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Dimension Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Load Procedures').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().ExecutionLevel,2)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Dimension Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Level 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Level 1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Dim Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().ProcedureName",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update Last executed Date",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Execute Dim Procedure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETL].[usp_UpdateLastexecDWDate]",
								"storedProcedureParameters": {
									"LastExecDateUpdatedValue": {
										"value": {
											"value": "@formatDateTime(utcnow(),'yyyyMMdd hh:mm:ss')",
											"type": "Expression"
										}
									},
									"id": {
										"value": {
											"value": "@{item().id}",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Level 3",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Dimension Child Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Load Procedures').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().ExecutionLevel,3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Dimension Child Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Level 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Level 2').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Execute Dim Child Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().ProcedureName",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update Last executed level 2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Execute Dim Child Procedure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETL].[usp_UpdateLastexecDWDate]",
								"storedProcedureParameters": {
									"LastExecDateUpdatedValue": {
										"value": {
											"value": "@formatDateTime(utcnow(),'yyyyMMdd hh:mm:ss')",
											"type": "Expression"
										}
									},
									"id": {
										"value": {
											"value": "@{item().id}",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Level 4",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Dimension Child Llevel3 Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Load Procedures').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().ExecutionLevel,4)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Dimension Child Llevel3 Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Level 3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Level 3').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Execute Dim Child level3",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().ProcedureName",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update Last executed level 3",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Execute Dim Child level3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETL].[usp_UpdateLastexecDWDate]",
								"storedProcedureParameters": {
									"LastExecDateUpdatedValue": {
										"value": {
											"value": "@formatDateTime(utcnow(),'yyyyMMdd hh:mm:ss')",
											"type": "Expression"
										}
									},
									"id": {
										"value": {
											"value": "@{item().id}",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Refresh Prod AAS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Wait till Upscale is completed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "RefreshModel",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Upscale Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Exe FactCollections",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Upscale AAS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Wait till Upscale is completed",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Execute Upscale Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 240
				}
			},
			{
				"name": "Execute Downscale script",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Wait 20 mins atleast",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TriggerDownscaleActivity",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Wait 20 mins atleast",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Refresh Prod AAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1200
				}
			},
			{
				"name": "Exe DealerAverageNDP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Fact Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Fact].[usp_LoadDealerAverageNDP]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerDatetime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Exe FactCollections",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Exe DealerAverageNDP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Fact].[usp_LoadFactCollections]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerDatetime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Exe Customer360 OFF",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Fact Load",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[usp_loadUpdateIsActiveOFFInterval]",
					"storedProcedureParameters": {
						"PipelineRunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerDatetime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute CustomerGUID for Customer360",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Fact Load",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[Customer360CustomerGuidUpdate]"
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "1. MainPipelines"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-25T13:08:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}