pipeline/iterationLooppipeline.json
{
	"name": "iterationLooppipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT Id FROM ',pipeline().parameters.ExtractionTableName,' WHERE IsProcessed = 0 order by Id offset ',pipeline().parameters.offset,' ROWS FETCH NEXT ' ,pipeline().parameters.fetch, ' ROWS ONLY ')",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Default"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Id",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Json to send",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT  CustomerJson AS JsonToSend FROM ',pipeline().parameters.ExtractionTableName, ' WHERE Id = ',item().Id)",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "OutputAzurSQL",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "Default"
									}
								}
							}
						},
						{
							"name": "Call Azure API",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "Get Json to send",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": {
									"value": "IngestData/IngestCustomer",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "@activity('Get Json to send').output.FirstRow.JsonToSend",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_KaizalaDataExtraction",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log Error Message",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Call Azure API",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETL].[usp_LoadKaizalaErrorMessages]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "Azure Function",
										"type": "String"
									},
									"entity": {
										"value": {
											"value": "Customer",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMessage": {
										"value": "Bad Request",
										"type": "String"
									},
									"JsonData": {
										"value": {
											"value": "@activity('Get Json to send').output.FirstRow.JsonToSend",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Process": {
										"value": "Extraction",
										"type": "String"
									},
									"TriggerDatetime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Mark Row as Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Call Azure API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Kaizala].[usp_MarkJsonAsSent]",
								"storedProcedureParameters": {
									"Entity": {
										"value": {
											"value": "Customer",
											"type": "Expression"
										},
										"type": "String"
									},
									"Id": {
										"value": {
											"value": "@item().Id",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Mark Row as Processed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Log Error Message",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Kaizala].[usp_MarkJsonAsSent]",
								"storedProcedureParameters": {
									"Entity": {
										"value": {
											"value": "Customer",
											"type": "Expression"
										},
										"type": "String"
									},
									"Id": {
										"value": {
											"value": "@item().Id",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"offset": {
				"type": "string",
				"defaultValue": "0"
			},
			"fetch": {
				"type": "string",
				"defaultValue": "5000"
			},
			"ExtractionTableName": {
				"type": "string",
				"defaultValue": "kaizala.CustomerExtract"
			}
		},
		"annotations": []
	}
}