pipeline/KaizalaSendIncrementalData_AllData_Enquiry.json
{
	"name": "KaizalaSendIncrementalData_AllData_Enquiry",
	"properties": {
		"activities": [
			{
				"name": "GetRecordsCountToProcessEnquiry",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@Concat('select Count(1) AS \"rowcount\" from Kaizala.EnquiryIncrementalExtract where IsProcessed=0')",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Default"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set rowcount_Enquiry",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetRecordsCountToProcessEnquiry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "rowcount",
					"value": {
						"value": "@string(activity('GetRecordsCountToProcessEnquiry').output.firstrow.rowcount)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set iteration value_Enquiry",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set rowcount_Enquiry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "iterations",
					"value": {
						"value": "@range(1,add(div(int(variables('rowcount')),5000),1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1_Enquiry",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set iteration value_Enquiry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('iterations')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Enquiry Records Loop",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "KaizalaSendIncrementalData_Enquiry",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ExtractionTableName": {
										"value": "Kaizala.EnquiryIncrementalExtract",
										"type": "Expression"
									},
									"JsonColumnName": "EnquiryJson",
									"APIEventType": "IngestEnquiry",
									"Entity": "Enquiry",
									"offset": {
										"value": "@variables('offset')",
										"type": "Expression"
									},
									"fetch": {
										"value": "@variables('remainingrow')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set New offset for next iteration_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Enquiry Records Loop",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "offset",
								"value": {
									"value": "@string(mul(5000,item()))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set remaining rows_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set New offset for next iteration_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "remainingrow",
								"value": {
									"value": "@string(sub(int(variables('rowcount')),5000))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable3_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set remaining rows_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "rowcount",
								"value": {
									"value": "@variables('remainingrow')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"offset": {
				"type": "String",
				"defaultValue": "0"
			},
			"remainingrow": {
				"type": "String",
				"defaultValue": "5000"
			},
			"iterations": {
				"type": "Array"
			},
			"rowcount": {
				"type": "String"
			}
		},
		"folder": {
			"name": "1. MainPipelines"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-25T13:08:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}