pipeline/KaizalaSendIncrementalDataToCosmos.json
{
	"name": "KaizalaSendIncrementalDataToCosmos",
	"properties": {
		"activities": [
			{
				"name": "Get Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT *\nFROM ETL.KaizalaPipelineTable\nWHERE Enabled = 1 and Entity='Enquiry'\nORDER BY ExecutionSequence",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Default"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Entity Create Json",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Config').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Create Json data",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().KaizalaExtractionSPName",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"PipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"TriggerDatetime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach Entity Create Json",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ExecuteEntitySequence",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"offset": {
				"type": "String",
				"defaultValue": "0"
			},
			"remainingrow": {
				"type": "String",
				"defaultValue": "5000"
			},
			"iterations": {
				"type": "Array"
			},
			"rowcount": {
				"type": "String"
			}
		},
		"folder": {
			"name": "1. MainPipelines"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-25T13:08:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}