pipeline/PropensityNew.json
{
	"name": "PropensityNew",
	"properties": {
		"activities": [
			{
				"name": "GetDates",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT RowId FROM Presales.BatchEnquiryScore order by RowId offset ',variables('offset'),' ROWS FETCH NEXT ' ,variables('fetch'), ' ROWS ONLY ')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Default"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetDates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetDates').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 7,
					"activities": [
						{
							"name": "Copy Enquiry Score",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetEnquiriesByDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:05.000",
									"requestMethod": "POST",
									"requestBody": {
										"value": "@{activity('GetEnquiriesByDate').output.value}",
										"type": "Expression"
									},
									"additionalHeaders": {
										"Content-Type": "application/json"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"parallelCopies": 10,
								"dataIntegrationUnits": 2,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['FDWENPCCID']"
											},
											"sink": {
												"name": "FDWENPCCID"
											}
										},
										{
											"source": {
												"path": "$['FDWCustomerCode']"
											},
											"sink": {
												"name": "FDWCustomerCode"
											}
										},
										{
											"source": {
												"path": "$['SCORE']"
											},
											"sink": {
												"name": "SCORE"
											}
										},
										{
											"source": {
												"path": "$['CustomerCategorization']"
											},
											"sink": {
												"name": "CustomerCategorization"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "EnquiryJson",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "OutputAzurSQL_CopyEnquiryScore",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "AAP.EnquiryScore"
									}
								}
							]
						},
						{
							"name": "GetEnquiriesByDate",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM Presales.BatchEnquiryScore WHERE RowId= '@{item().ROWID}' ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "OutputAzurSQL",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "Default"
									}
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "Update_EH_PropensityScore",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UpdatePropensityScore_Initial",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AAP].[usp_UpdatePropensityScore_v4]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerDatetime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdatePropensityScore_Initial",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AAP].[usp_UpdatePropensityScore_v4_2]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerDatetime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"offset": {
				"type": "String",
				"defaultValue": "0"
			},
			"fetch": {
				"type": "String",
				"defaultValue": "5000"
			}
		},
		"folder": {
			"name": "4. AAP - AI&ML"
		},
		"annotations": []
	}
}