pipeline/ScoreEnquiry_V4.json
{
	"name": "ScoreEnquiry_V4",
	"properties": {
		"activities": [
			{
				"name": "GetEnquiries",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AAP].[usp_StageBatchEnquiries_v4]",
					"storedProcedureParameters": {
						"EndDate": {
							"value": {
								"value": "@pipeline().parameters.EndTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"StartDate": {
							"value": {
								"value": "@pipeline().parameters.StartTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetDates",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetEnquiries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT Distinct DealerCode,year(EnquiryDate) yearOfEnquiry, datepart(WEEK,EnquiryDate) weekDayOfYear FROM Presales.BatchEnquiryScore WITH(NOLOCK) ",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Default"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetDates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetDates').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Copy Enquiry Score",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetEnquiriesByDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": {
										"value": "@{activity('GetEnquiriesByDate').output.value}",
										"type": "Expression"
									},
									"additionalHeaders": {
										"Content-Type": "application/json"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "EnquiryJson",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "OutputAzurSQL",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "AAP.EnquiryScore"
									}
								}
							]
						},
						{
							"name": "GetEnquiriesByDate",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM Presales.BatchEnquiryScore WHERE DealerCode = '@{item().DealerCode}' and datepart(WEEK,EnquiryDate) = @{item().weekDayOfYear } and year(EnquiryDate) = @{item().yearOfEnquiry}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "OutputAzurSQL",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "Default"
									}
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "Update Customer Categorization",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "UpdatePropensityScore",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "UpdateCustomerCategorization",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "UpdatePropensityScore",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AAP].[usp_UpdatePropensityScore_v4]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerDatetime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"StartTime": {
				"type": "string",
				"defaultValue": "2020-04-01"
			},
			"EndTime": {
				"type": "string",
				"defaultValue": "2020-04-01"
			}
		},
		"folder": {
			"name": "4. AAP - AI&ML"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}