pipeline/ScoreEnquiry.json
{
	"name": "ScoreEnquiry",
	"properties": {
		"activities": [
			{
				"name": "GetEnquiries",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[AAP].[usp_StageBatchEnquiries]",
						"storedProcedureParameters": {
							"EndDate": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().parameters.EndTime",
									"type": "Expression"
								}
							},
							"StartDate": {
								"type": "DateTime",
								"value": {
									"value": "@pipeline().parameters.StartTime",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Default"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy Enquiry Score",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetEnquiries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@{activity('GetEnquiries').output.value}",
							"type": "Expression"
						},
						"additionalHeaders": {
							"Content-Type": "application/json"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "EnquiryJson",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "AAP.EnquiryScore"
						}
					}
				]
			}
		],
		"parameters": {
			"StartTime": {
				"type": "string"
			},
			"EndTime": {
				"type": "string"
			}
		},
		"folder": {
			"name": "4. AAP - AI&ML"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-25T13:08:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}