pipeline/scoreEnquiryViaDatabrickscode.json
{
	"name": "scoreEnquiryViaDatabrickscode",
	"properties": {
		"activities": [
			{
				"name": "GetMaxEnquiryDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select FORMAT(LastDateUpdatedValue,'yyyy-MM-dd') As MaxDate from ETL.PipelineTables where Id=13",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Default"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "GetLastPSProcessDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetMaxEnquiryDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select FORMAT(Max(EnquiryDate),'yyyy-MM-dd')  AS ProcessedLastDate from Presales.EnquiryHeader Where Is_PS_Processed=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Default"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "GetEnquiries",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GetLastPSProcessDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AAP].[usp_StageBatchEnquiries_v4]",
					"storedProcedureParameters": {
						"EndDate": {
							"value": {
								"value": "@activity('GetMaxEnquiryDate').output.firstrow.MaxDate",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"StartDate": {
							"value": {
								"value": "@activity('GetLastPSProcessDate').output.firstrow.ProcessedLastDate",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "GetEnquiries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Production_code_Score_Daily"
				},
				"linkedServiceName": {
					"referenceName": "LS_DataBricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update_EH_PropensityScore",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UpdatePropensityScore_Initial",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AAP].[usp_UpdatePropensityScore_v4]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerDatetime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdatePropensityScore_Initial",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AAP].[usp_UpdatePropensityScore_v4_2]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerDatetime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "4. AAP - AI&ML"
		},
		"annotations": []
	}
}