pipeline/TransactionTablesLoad_4kashfaq.json
{
	"name": "TransactionTablesLoad_4kashfaq",
	"properties": {
		"activities": [
			{
				"name": "Pipeline Start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[usp_LoadPipelineRunningStatus]",
					"storedProcedureParameters": {
						"DataFactoryName": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerDatetime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GET CONFIG",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Pipeline Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * from @{pipeline().parameters.ConfigTable} Where IsMaster = 0 AND IsIncremental = 1\nIF @@ROWCOUNT = 0 THROW 50000,'No rows in configuration table!',1",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Default"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FDW",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GET CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET CONFIG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(equals(Item().Source,'FDW'),equals(Item().Enabled,true))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FDW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FDW').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "IF FDW DATE PRESENT",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().IsDateColumnPresent,true)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "GET MAX DATE FDW",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlSource",
												"sqlReaderQuery": {
													"value": "SELECT ISNULL(MAX(@{item().DateColumnName}), GETDATE()) as MAXDATE FROM @{item().SourceTableName}",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "InputOnPrem",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "GET COUNT FDW",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "GET MAX DATE FDW",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlSource",
												"sqlReaderQuery": {
													"value": "SELECT COUNT(1) AS Count FROM @{item().SourceTableName} WHERE @{item().DateColumnName} >= '@{item().LastDateUpdatedValue}Z' AND @{item().DateColumnName} <= '@{activity('GET MAX DATE FDW').output.firstrow.MAXDATE}Z' OR (@{item().DateColumnName} IS NULL)",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "InputOnPrem",
												"type": "DatasetReference"
											},
											"firstRowOnly": false
										}
									},
									{
										"name": "GET COUNT STAGING",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "GET COUNT FDW",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlSource",
												"sqlReaderQuery": {
													"value": "SELECT COUNT(*) AS DSTCOUNT FROM @{item().DestinationTableName}",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "OutputAzurSQL",
												"type": "DatasetReference",
												"parameters": {
													"TableName": "Default"
												}
											}
										}
									},
									{
										"name": "UPDATE DATE FDW",
										"description": "UPDATE THE MAX OF DATE IN CONGIF TABLE",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "INSERT_UPDATE FDW TABLES",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ETL].[usp_UpdateLastDateUpdated]",
											"storedProcedureParameters": {
												"id": {
													"value": {
														"value": "@{item().id}",
														"type": "Expression"
													},
													"type": "Int16"
												},
												"LastDateUpdatedValue": {
													"value": {
														"value": "@{activity('GET MAX DATE FDW').output.firstRow.MAXDATE}",
														"type": "Expression"
													},
													"type": "DateTime"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_AzureSQLDB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "INSERT_UPDATE FDW TABLES",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "GET COUNT STAGING",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": {
												"value": "@{item().UpdateSP}",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"PipelineRunId": {
													"value": {
														"value": "@{pipeline().RunId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineName": {
													"value": {
														"value": "@{pipeline().Pipeline}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerDatetime": {
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													},
													"type": "DateTime"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "LS_AzureSQLDB",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Pipeline End",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update EnquiryGUID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[usp_UpdatePipelineRunningStatus]",
					"storedProcedureParameters": {
						"DataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update CustomerGUID",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[usp_UpdateCustomerGUID]"
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update EnquiryGUID",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update CustomerGUID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[usp_UpdateEnquiryGUID]"
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"ConfigTable": {
				"type": "String",
				"defaultValue": "[ETL].[PipelineTables]"
			},
			"DeDupeIsFullLoad": {
				"type": "int",
				"defaultValue": 0
			}
		},
		"folder": {
			"name": "1. MainPipelines"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-25T13:08:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}