pipeline/VFSload_SQL_COSMOS.json
{
	"name": "VFSload_SQL_COSMOS",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select count(1) as \"rowcount\" from \nkaizala.VFSHistoricalExtract \n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputAzurSQL",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Default"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "rowcount",
					"value": {
						"value": "@string(activity('Lookup1').output.firstrow.rowcount)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "iterations",
					"value": {
						"value": "@range(1,add(div(int(variables('rowcount')),5000),1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('iterations')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "VFSHistoricExtraction_AllData",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"offset": {
										"value": "@variables('offset')",
										"type": "Expression"
									},
									"fetch": {
										"value": "@variables('remainingrows')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "offset",
								"value": {
									"value": "@string(mul(5000,item()))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable3_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "remainingrows",
								"value": {
									"value": "@string(sub(int(variables('rowcount')),5000))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable3_copy1_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable3_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "rowcount",
								"value": {
									"value": "@variables('remainingrows')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"offset": {
				"type": "String",
				"defaultValue": "0"
			},
			"rowcount": {
				"type": "String"
			},
			"remainingrows": {
				"type": "String",
				"defaultValue": "5000"
			},
			"iterations": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "5. Kaizala Historic Data"
		},
		"annotations": []
	}
}